<!DOCTYPE html>
<html>
    <head><title>課題3</title></head>
    <body>
        <h1>課題3</h1>
        <p>
        <a href="<?=$this->url->get('logout')?>">ログアウト</a>
        ログインされています。
        </p>
        <p>
        あなたの名前は:<em><?=$this->view->なまえ?></em>
        </p>
        <p>
        APIにアクセスするためのトークン: <em><?=$this->view->token?></em>
        </p>
    </body>
</html>