<!DOCTYPE html>
<html>
    <head><title>課題3 - ログイン画面</title></head>
    <body>
        <h1>課題3 - ログイン画面</h1>
        <a href="https://github.com/login/oauth/authorize?client_id=<?php
            echo $this->view->client_id;
        ?>&redirect_uri=<?php
            echo $this->url->get('login/githubCallback')
        ?>">GitHub でログイン</a>
    </body>
</html>