<!DOCTYPE html>
<html>
    <head><title>課題3 - エラー</title></head>
    <body>
        <h1>課題3 - エラー</h1>
        ログインが必要です。
        <a href="<?php
            echo $this->url->get('login')
        ?>">ログイン画面</a>
    </body>
</html>